
  body
  {
      font-family: 'Helvetica';
    }




.container {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 100vw;
}

#header {
  margin-top: 1.3em;
}
#sidebar {
  float: left;
  margin-left: 600px;
}
#contents
{
  float: left;
  width: 600px;
}
#greeting

#cyoa

h1{
background-color: skyblue;padding: 10px;font-size: 1.75em;

}
h2{
background-color: lightgray;padding: 10px;font-size: 1em;

}
div.redbox {
      width: auto;
      padding: 5px;
      margin: 5px;
      border: 1px solid red;
}
div.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
div.polaroid {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.polaroid img {width: 100%}
div.container_p {
  text-align: center;
  padding: 10px 20px;
}
